In [14]:
import os
import psycopg2
import psycopg2.extras
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import OneHotEncoder


# https://stackoverflow.com/questions/43515877/should-binary-features-be-one-hot-encoded


# Database connection setup
def get_db_connection():
    connection = psycopg2.connect(
        database="postgres",
        user="postgres",
        password="HeliosChenThomasBuckley",
        host="db.fxxqwotagugztamftphi.supabase.co",
        port="5432",
    )
    
    print('connected')
    return connection

In [15]:
def fetch_profiles():
    conn = get_db_connection()
    with conn.cursor(cursor_factory = psycopg2.extras.RealDictCursor) as cur:
        cur.execute('SELECT * FROM "Profile" LIMIT 100;')
        profiles = cur.fetchall()
    conn.close()
    return profiles

df = pd.DataFrame(fetch_profiles())

connected

In [17]:
categorical_columns = ['body_type', 'education', 'pets', 'diet', 'offspring', 'job', 'smokes', 'drinks', 'religion',]

# One-hot encoding for categorical data with multiple value possibilities
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(df[categorical_columns])

# Binary encoding for the binary data (smokes, drinks, religion)
# df['smokes'] = df['smokes'].map({'no': 0, 'yes': 1})
# df['drinks'] = df['drinks'].map({'no': 0, 'yes': 1})
# df['religion'] = df['religion'].map({'religious': 0, 'not religious': 1})

# print(df['smokes'].unique())
# print(df['drinks'].unique())
# print(df['religion'].unique())

/Users/thomasbuckley/Documents/CS/MSC_PROJECT/data_cleaning/venv/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [21]:
similarity_matrix = cosine_similarity(encoded_data)

# Convert to DataFrame for better readability (optional)
similarity_df = pd.DataFrame(similarity_matrix, index=df.index, columns=df.index)

similarity_df

       id  user_id smokes orientation body_type      diet drinks   education  \
0   35798     6507     no    straight  athletic  anything    yes  university
1   34008     4717     no    straight  athletic  anything    yes  university
2   36588     7297     no    straight      thin  anything    yes  university
3   33592     4301    yes    straight      thin  anything    yes  university
4   34628     5337     no    straight     large  anything     no  university
..    ...      ...    ...         ...       ...       ...    ...         ...
95  29464      173    yes    straight  athletic  anything    yes  university
96  29474      183     no    straight     large  anything    yes  university
97  29478      187    yes    straight  athletic  anything    yes  university
98  31433     2142    yes         gay   average  anything    yes  university
99  29484      193     no    straight  athletic  anything     no        none

   height                       job  ...  \
0    62.0        Healthcare & Legal  ...
1    76.0        Healthcare & Legal  ...
2    68.0             Miscellaneous  ...
3    66.0             Miscellaneous  ...
4    62.0          Business & Sales  ...
..    ...                       ...  ...
95   69.0             Miscellaneous  ...
96   70.0             Miscellaneous  ...
97   68.0             Miscellaneous  ...
98   72.0  Technology & Engineering  ...
99   72.0             Miscellaneous  ...

                                               essay3  \
0   my hair, girls tend to love it when i where it...
1                                probably my tattoos.
2                                   my sexy body hair
3   my dimples. my smile. or my eyes. or simply my...
4                            that im a kind happy guy
..                                                ...
95  i am very easy to talk to, and depending on th...
96                                   my huge eyes o.o
97          its been awhile since i polled my friends
98  that i'm a white guy, maybe, i don't really know.
99                         my laugh, it's infectious.

                                               essay4  \
0                                                None
1                                                None
2                                            all kind
3                                                None
4   book:the game of shadows movie:godfather show:...
..                                                ...
95                                               None
96  it really depends on my mood. i find myself li...
97  otis redding when i'm cooking breakfast. the g...
98            jon krakauer books, the movie body heat
99  i love to read, but i have little time to do s...

                                               essay5  \
0    my dog peabody family friends cheese wine my dvr
1                my past water family god jesus bible
2   surfing the net,dancing,cooking,shopping,going...
3                                                None
4   sports ,family,tv,exersize,brain,job,good friends
..                                                ...
95          life, love, laughs, ideas, music, family.
96  family/friends, phone, internet, tea (i realiz...
97  1. something to write on 2. candy 3. a camera ...
98  my house, my friends, the internet, my america...
99  1.my sidekick/son 2.my friends 3.nature 4.my s...

                                               essay6  \
0   i'm a planner, so i spend a lot of time planni...
1                                       being better.
2                myself my future my late mom and dad
3   not understanding how men on here send me the ...
4                                my family and health
..                                                ...
95  how to change the world, and where i am going ...
96                                         the future
97  the worst/best places to be during a big earth...
98  life, politics, my future, my good fortune. al...
99  how lucky i am. school, friends, love, and wha...

                                               essay7  \
0   i have a funky work schedule, but on my days o...
1   usually at a dive bar with friends for a few b...
2                                                None
3                                                None
4               im doing anything it could be working
..                                                ...
95                                               None
96  on a plane to la, having a drink with some fri...
97  oh man, friday, i really wanted an egg salad s...
98                                   enjoying myself.
99  either going to an art/music show with friends...

                                               essay8  \
0                                                None
1                                                None
2                               serious relationships
3                                                None
4         i need to know you first before telling you
..                                                ...
95  i'm going to change the world soon. also see m...
96  i'm stubborn, but working on getting less stub...
97  i don't really make over a million dollars a year
98                          i'm turned on by old men.
99                                               None

                                               essay9   bio  \
0                                         you want to  None
1   you are ready to perhaps settle down with the ...  None
2                                    if am not online  None
3                                                None  None
4                          if you are kind and honest  None
..                                                ...   ...
95  you're an infj, enfj, or enfp. you're beautifu...  None
96  you want to find out more!  ... or you want me...  None
97  if you like pina coladas and getting caught in...  None
98  you think you're too old to be a turn on. (don...  None
99  you are light hearted woman, and you don't swe...  None

                                             dislikes  \
0   [Astrology & Mysticism, Parkour & Urban Explor...
1   [Alternative Healing & Therapies, Wellness & H...
2   [Travel & Adventure, Creative Writing & Storyt...
3   [Literature & Writing, Team Sports & Athletics...
4   [Artificial Intelligence & Machine Learning, D...
..                                                ...
95  [Science & Research, Content Creation & Editin...
96  [Brewing & Culinary Arts, Literature & Writing...
97  [Brewing & Culinary Arts, Astrology & Mysticis...
98  [Racquet Sports, Virtual Reality & Interactive...
99  [Literature & Writing, Cooking & Baking, Scien...

                                                likes
0   [Film & Cinema, Fitness & Wellness, Education ...
1   [Virtual Reality & Interactive Media, Adventur...
2   [Fashion & Beauty, DIY & Home Improvement, Eng...
3   [Brewing & Culinary Arts, Data Science & Analy...
4   [Engineering & Robotics, Education & Academia,...
..                                                ...
95  [Computing & Information Technology, Entrepren...
96  [Fashion & Beauty, Fitness & Wellness, Educati...
97  [Education & Academia, Law & Politics, Music &...
98  [Web & App Development, Artificial Intelligenc...
99  [Hobbies & Leisure, Technology & Innovations, ...

[100 rows x 28 columns]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,0.777778,0.555556,0.444444,0.444444,0.666667,0.555556,0.444444,0.444444,0.333333,...,0.222222,0.333333,0.444444,0.777778,0.666667,0.444444,0.444444,0.444444,0.444444,0.333333
1,0.777778,1.000000,0.555556,0.555556,0.333333,0.666667,0.666667,0.444444,0.555556,0.444444,...,0.333333,0.333333,0.444444,0.666667,0.555556,0.555556,0.666667,0.555556,0.666667,0.333333
2,0.555556,0.555556,1.000000,0.777778,0.444444,0.666667,0.555556,0.444444,0.444444,0.555556,...,0.444444,0.555556,0.666667,0.555556,0.555556,0.555556,0.555556,0.555556,0.444444,0.444444
3,0.444444,0.555556,0.777778,1.000000,0.333333,0.666667,0.555556,0.444444,0.666667,0.777778,...,0.444444,0.333333,0.444444,0.333333,0.444444,0.555556,0.555556,0.555556,0.666667,0.333333
4,0.444444,0.333333,0.444444,0.333333,1.000000,0.444444,0.666667,0.666667,0.555556,0.444444,...,0.444444,0.666667,0.555556,0.444444,0.777778,0.333333,0.555556,0.333333,0.222222,0.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.444444,0.555556,0.555556,0.555556,0.333333,0.444444,0.555556,0.444444,0.666667,0.666667,...,0.111111,0.444444,0.555556,0.666667,0.555556,1.000000,0.666667,1.000000,0.555556,0.444444
96,0.444444,0.666667,0.555556,0.555556,0.555556,0.777778,0.666667,0.777778,0.555556,0.666667,...,0.444444,0.444444,0.555556,0.555556,0.555556,0.666667,1.000000,0.666667,0.555556,0.444444
97,0.444444,0.555556,0.555556,0.555556,0.333333,0.444444,0.555556,0.444444,0.666667,0.666667,...,0.111111,0.444444,0.555556,0.666667,0.555556,1.000000,0.666667,1.000000,0.555556,0.444444
98,0.444444,0.666667,0.444444,0.666667,0.222222,0.555556,0.444444,0.333333,0.555556,0.666667,...,0.222222,0.333333,0.555556,0.333333,0.333333,0.555556,0.555556,0.555556,1.000000,0.111111
99,0.333333,0.333333,0.444444,0.333333,0.555556,0.333333,0.555556,0.555556,0.444444,0.444444,...,0.555556,0.555556,0.444444,0.444444,0.555556,0.444444,0.444444,0.444444,0.111111,1.000000

In [20]:
def recommend_for_user(user_index, top_n=5):
    # Get similarity scores for the user
    user_similarity_scores = similarity_df[user_index]

    # Sort the scores and fetch top N indices
    top_users_indices = user_similarity_scores.sort_values(ascending=False).index[1:top_n+1]

    # Fetch the top recommended users/items
    return df.loc[top_users_indices]

recommendations = recommend_for_user(0, top_n=5)
print(df.loc[0])
print(recommendations.iloc[0])

          0         1         2         3         4         5         6   \
0   1.000000  0.777778  0.555556  0.444444  0.444444  0.666667  0.555556
1   0.777778  1.000000  0.555556  0.555556  0.333333  0.666667  0.666667
2   0.555556  0.555556  1.000000  0.777778  0.444444  0.666667  0.555556
3   0.444444  0.555556  0.777778  1.000000  0.333333  0.666667  0.555556
4   0.444444  0.333333  0.444444  0.333333  1.000000  0.444444  0.666667
..       ...       ...       ...       ...       ...       ...       ...
95  0.444444  0.555556  0.555556  0.555556  0.333333  0.444444  0.555556
96  0.444444  0.666667  0.555556  0.555556  0.555556  0.777778  0.666667
97  0.444444  0.555556  0.555556  0.555556  0.333333  0.444444  0.555556
98  0.444444  0.666667  0.444444  0.666667  0.222222  0.555556  0.444444
99  0.333333  0.333333  0.444444  0.333333  0.555556  0.333333  0.555556

          7         8         9   ...        90        91        92        93  \
0   0.444444  0.444444  0.333333  ...  0.222222  0.333333  0.444444  0.777778
1   0.444444  0.555556  0.444444  ...  0.333333  0.333333  0.444444  0.666667
2   0.444444  0.444444  0.555556  ...  0.444444  0.555556  0.666667  0.555556
3   0.444444  0.666667  0.777778  ...  0.444444  0.333333  0.444444  0.333333
4   0.666667  0.555556  0.444444  ...  0.444444  0.666667  0.555556  0.444444
..       ...       ...       ...  ...       ...       ...       ...       ...
95  0.444444  0.666667  0.666667  ...  0.111111  0.444444  0.555556  0.666667
96  0.777778  0.555556  0.666667  ...  0.444444  0.444444  0.555556  0.555556
97  0.444444  0.666667  0.666667  ...  0.111111  0.444444  0.555556  0.666667
98  0.333333  0.555556  0.666667  ...  0.222222  0.333333  0.555556  0.333333
99  0.555556  0.444444  0.444444  ...  0.555556  0.555556  0.444444  0.444444

          94        95        96        97        98        99
0   0.666667  0.444444  0.444444  0.444444  0.444444  0.333333
1   0.555556  0.555556  0.666667  0.555556  0.666667  0.333333
2   0.555556  0.555556  0.555556  0.555556  0.444444  0.444444
3   0.444444  0.555556  0.555556  0.555556  0.666667  0.333333
4   0.777778  0.333333  0.555556  0.333333  0.222222  0.555556
..       ...       ...       ...       ...       ...       ...
95  0.555556  1.000000  0.666667  1.000000  0.555556  0.444444
96  0.555556  0.666667  1.000000  0.666667  0.555556  0.444444
97  0.555556  1.000000  0.666667  1.000000  0.555556  0.444444
98  0.333333  0.555556  0.555556  0.555556  1.000000  0.111111
99  0.555556  0.444444  0.444444  0.444444  0.111111  1.000000

[100 rows x 100 columns]
id                                                         35798
user_id                                                     6507
smokes                                                        no
orientation                                             straight
body_type                                               athletic
diet                                                    anything
drinks                                                       yes
education                                             university
height                                                      62.0
job                                           Healthcare & Legal
location                                      novato, california
offspring                                                   None
pets                                                    has dogs
religion                                               religious
speaks                                                   english
essay0         i was born and raised in novato and enjoy livi...
essay1         i'm just enjoying life!!! i'm blessed to have ...
essay2                                                      None
essay3         my hair, girls tend to love it when i where it...
essay4                                                      None
essay5          my dog peabody family friends cheese wine my dvr
essay6         i'm a planner, so i spend a lot of time planni...
essay7         i have a funky work schedule, but on my days o...
essay8                                                      None
essay9                                               you want to
bio                                                         None
dislikes       [Astrology & Mysticism, Parkour & Urban Explor...
likes          [Film & Cinema, Fitness & Wellness, Education ...
Name: 0, dtype: object
id                                                         33553
user_id                                                     4262
smokes                                                        no
orientation                                             straight
body_type                                               athletic
diet                                                    anything
drinks                                                       yes
education                                             university
height                                                      70.0
job                                           Healthcare & Legal
location                                   san mateo, california
offspring                                                   None
pets                                                    has both
religion                                           not religious
speaks                                                   english
essay0         i'm an optimistic person who tends to see (may...
essay1         i'm in-house counsel for a large computer comp...
essay2         making people feel comfortable. i'm inquisitiv...
essay3         my smile and my warmth. i find it easy to empa...
essay4         i'm an "adventurous eater" -- i enjoy eating f...
essay5         i've been thinking about this question for a l...
essay6         how lucky i am. here's a tagline i made up: "o...
essay7         if i'm not out with you, i'm probably home cat...
essay8         although i'm very confident and outspoken in m...
essay9         any of what i said above struck a chord with y...
bio                                                         None
dislikes       [Gaming & Esports, Team Sports & Athletics, Pu...
likes          [Animal Care & Welfare, Charity & Philanthropy...
Name: 17, dtype: object